<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="<%= asset_path( 'Cross_Warrior.jpg' ) %>" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Bem Vindo</h1>
          <p>Bem Vindo ao Warriors Vs Mages, um jogo baseado em RPG de Navegador
        </p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path( 'sorcerer.jpg' ) %>"  class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Cadastre-se Já</h1>
          <p>Crie sua conta agora e comece a jogar com seus amigos</p>
         </div>
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path( 'vs.jpg' ) %>" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Não Perca Tempo</h1>
          <p>Faça missões, duele com seus amigos e ganhe recompensas</p>
          </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->